In [1]:
#Encoding

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

In [4]:
data={
    'color':['red','blue','green','blue','red'],
    'size':['small','medium','large','medium','small'],
    'city':['delhi','mumbai','delhi','chennai','mumbai'],
    'target':[1,0,1,0,1]
}

In [5]:
df=pd.DataFrame(data)
df

   color    size     city  target
0    red   small    delhi       1
1   blue  medium   mumbai       0
2  green   large    delhi       1
3   blue  medium  chennai       0
4    red   small   mumbai       1

In [ ]:
#Label Encoding

In [7]:
le=LabelEncoder()
df['color_le']=le.fit_transform(df['color'])
df

   color    size     city  target  color_le
0    red   small    delhi       1         2
1   blue  medium   mumbai       0         0
2  green   large    delhi       1         1
3   blue  medium  chennai       0         0
4    red   small   mumbai       1         2

In [8]:
#Ordinal Encoding

In [9]:
df

   color    size     city  target  color_le
0    red   small    delhi       1         2
1   blue  medium   mumbai       0         0
2  green   large    delhi       1         1
3   blue  medium  chennai       0         0
4    red   small   mumbai       1         2