In [1]:
#Standardization
#Or Z-Score Normalization

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({

    'height':[150,160,170,100,190],
    'weight':[50,60,70,80,90]
})
df

   height  weight
0     150      50
1     160      60
2     170      70
3     100      80
4     190      90

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [8]:
scaled_data=scaler.fit_transform(df)

In [10]:
scaled_df=pd.DataFrame(scaled_data)
scaled_df

          0         1
0 -0.133038 -1.414214
1  0.199557 -0.707107
2  0.532152  0.000000
3 -1.796013  0.707107
4  1.197342  1.414214

In [11]:
data=pd.DataFrame({
    'age':[20,25,30,35,40],
    'salary':[20000,40000,50000,60000,70000]
})
data

   age  salary
0   20   20000
1   25   40000
2   30   50000
3   35   60000
4   40   70000

In [12]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [14]:
scaled_data=pd.DataFrame(scaler.fit_transform(data))