In [1]:
#Standardization
#Or Z-Score Normalization

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({

    'height':[150,160,170,100,190],
    'weight':[50,60,70,80,90]
})
df

   height  weight
0     150      50
1     160      60
2     170      70
3     100      80
4     190      90

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
scaler.fit_transform()