In [1]:
#Standardization
#Or Z-Score Normalization

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({

    'height':[150,160,170,100,190],
    'weight':[50,60,70,80,90]
})
df

   height  weight
0     150      50
1     160      60
2     170      70
3     100      80
4     190      90

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [8]:
scaled_data=scaler.fit_transform(df)

In [10]:
scaled_df=pd.DataFrame(scaled_data)
scaled_df

          0         1
0 -0.133038 -1.414214
1  0.199557 -0.707107
2  0.532152  0.000000
3 -1.796013  0.707107
4  1.197342  1.414214