In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df=pd.read_csv('landrates.csv')
df

   area    rate
0  1600  450000
1  1800  480000
2  2000  500000
3  2200  540000
4  2600  560000
5  3000  580000

In [ ]:
model=linear_model.LinearRegression()